:root {
  /* Festlegen von Variablen für alle Farben */
  --blau: #11346f;
  --weiß: #ffffff;
  --schwarz: #181c25;
  /* responsive Schriftgröße */
  font-size: min(max(1rem, calc(1rem + (1.5 - 1) * ((100vw - 48rem) / (120 - 48)))), 1.5rem);
  min-height: 0vw;
}

* {
  font-family: kanit, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-width: 250px;
}

a {
  color: var(--weiß);
  text-decoration: none;
}

li a {
  background-color: var(--weiß);
  color: var(--blau);
  font-size: 0.8rem;
  transition: 150ms;
  padding: 1em;
}

a:hover {
  transform: scale(1.01);
}

.headerimage a {
  background-color: var(--blau);
  padding: 1em 2em;
  transition: 150ms;
  margin-bottom: 200px;
}

#Link3 {
  text-decoration: underline;
}

h1 {
  color: var(--blau);
  font-size: 3rem;
  line-height: 1.1em;
  text-shadow: 4px 4px 30px var(--weiß);
  font-weight: 600;
  margin-bottom: 1em;
}

header section {
  margin: 15vh auto;
}

header section a {
  background-color: var(--blau);
  padding: 1em 2em;
}

p {
  color: var(schwarz);
}

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto;
}

.main-navigation {
  background-color: var(--blau);
  position: sticky;
  top: 0;
}
/* @media (min-width: 700px) {
  .main-navigation {
    position: sticky;
    top: 0;
  }
} */

.main-navigation .maxwidth {
  align-items: center;
  display: grid;
}
@media (min-width: 700px) {
  .main-navigation .maxwidth {
    grid-template-columns: max-content auto;
  }
}

/* body > div > nav:first-of-type > a */

.logo {
  display: block;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .logo {
    margin: unset;
  }
}

.logo img {
  max-width: 100px;
}

.main-navigation ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0em;
}
@media (min-width: 700px) {
  .main-navigation ul {
    text-align: right;
  }
}

.main-navigation li {
  display: block;
  margin: 0.4em 0;
}
@media (min-width: 700px) {
  .main-navigation li {
    display: inline-block;
    margin: 0 0.5em;
  }
}

.main-navigation li a {
  display: block;
  line-height: 2em;
}

@media (min-width: 700px) {
  .main-navigation li a {
    background-color: unset;
    color: var(--weiß);
  }
}

.headerimage {
  /* background-image: url(./Material/Headerbild.jpeg); */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.234)), url(./Material/Headerbild_Desktop.jpg);
  background-size: cover;
  background-position-x: center;
  display: grid;
  align-items: center;
}

.maxwidth {
  max-width: 1280px;
  padding: 0.7rem 2em;
  /* margin: auto; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.headertitle {
  padding: 0em 2em 3em 2em;
}
@media (min-width: 700px) {
  .headertitle {
    max-width: 40%;
    align-items: left;
  }
}

@media (min-width: 700px) {
  .twocolumns {
    grid-template-columns: 60% 40%;
  }
}

@media (min-width: 700px) {
  .twodifferentcolumns {
    grid-template-columns: 15% 85%;
    grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  .fourcolumns {
    grid-template-columns: repeat(4, 1fr);
  }
}

.twocolumns {
  align-items: center; /* Vertikale Ausrichtung der Grid-Items */
}
