:root {
  /* Festlegen von Variablen für alle Farben */
  --blau: #11346f;
  --weiß: #ffffff;
  --schwarz: #181c25;
  /* responsive Schriftgröße */
  font-size: min(max(1rem, calc(1rem + (1.5 - 1) * ((100vw - 48rem) / (120 - 48)))), 1.5rem);
  min-height: 0vw;
}

:root {
}

* {
  font-family: kanit, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-width: 315px;
}

a {
  color: var(--weiß);
  text-decoration: none;
  font-size: 0.8rem;
}

#Link3 {
  text-decoration: underline;
}

h1 {
  color: var(--blau);
  font-size: 3rem;
  line-height: 1.2em;
  text-shadow: 4px 4px 30px var(--weiß);
  font-weight: 600;
}

header section {
  margin: 15vh auto;
}

header section a {
  background-color: var(--blau);
  padding: 1em 2em;
}

p {
  color: var(schwarz);
}

nav {
  background-color: var(--blau);
  position: sticky;
  top: 0;
}

nav section {
  margin: 400px;
}

nav section a {
  display: flex;
  align-items: center;
  transition: 30ms;
}

a:hover {
  transform: scale(1.01);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.companylogo {
  height: 3rem;
}

.headerimage {
  height: 100vh;
  /* background-image: url(./Material/Headerbild.jpeg); */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.234)), url(./Material/Headerbild_Desktop.jpg);
  background-size: cover;
  background-position-x: center;
}

.maxwidth {
  max-width: 1280px;
  padding: 0.7rem 2em;
  margin: auto;
}

.gridcontainer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid-item {
}

@media (min-width: 700px) {
  .twocolumns {
    grid-template-columns: 60% 40%;
  }
}

@media (min-width: 700px) {
  .twodifferentcolumns {
    grid-template-columns: 15% 85%;
    grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  .fourcolumns {
    grid-template-columns: repeat(4, 1fr);
  }
}

.twocolumns {
  align-items: center; /* Vertikale Ausrichtung der Grid-Items */
}
